.DS_Store
.env
.env.*
*.log

# Local editor files
.vscode/
.idea/

jenkins/kubeconfig/*.kubeconfig

# Terraform local state - later we will replace with remote state
terraform.tfstate
terraform.tfstate.*
.terraform/
.terraform.lock.hcl

# Kubernetes credentials
jenkins-deployer-kubeconfig.yaml
*.kubeconfig
kubeconfig.yaml
jenkins/**/kubeconfig/
